*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    --main-text-color:rgb(128, 128, 128);
    --dark-blue:rgb(21, 93, 252);
    --light-blue:rgb(219, 232, 252);
    --dark-green:rgb(0, 166, 62);
    --light-green:rgb(212, 243, 225);
    --dark-blueviolet:rgb(152, 16, 250);
    --light-blueviolet:rgb(239, 224, 252);
    --dark-orange:rgb(245, 73, 0);
    --light-orange:rgb(251, 228, 212);
    --main-border:2px solid rgba(229, 231, 235, 0.8);
    --main-border-radius: 15px
}

body{
    svg{
    width: 20px;
    img{
        width: 20px;
    }
}
}

.whole-page{
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(12, auto);
    /* position: relative; */
    margin-right: 300px;
    .sidebar{
        height: 100vh;
        min-width: 14vw;
        position: fixed; right: 0; top: 0;
        border: 2px solid rgba(229, 231, 235, 0.8);
        padding: 25px;
        display: flex;
        flex-direction: column;
        gap: 35px;
        margin-left: 20px;
        .main{
            display: flex;
            gap: 15px;
            .logo{
                background-color: rgb(55, 69, 232);
                width: fit-content;
                height: fit-content;
                padding: 15px;
                border-radius: 15px;
                svg{
                    color: white;
                    width: 25px;
                }
            }
            .text-box{
                .name-title{
                    font-size: 34px;
                }
                .description{
                    font-size: 13px;
                    color: rgb(90, 90, 90);
                }
            }
        }
        .main-links{
            display: flex;
            flex-direction: column;
            gap: 10px;
            a{
                display: flex;
                flex-direction: row;
                gap: 20px;
                padding: 15px;
                text-decoration: none;
                svg{
                    width: 20px;
                    color: gray;
                }
                h3{
                    font-size: 16px;
                    color: gray;
                }
            }
            a:first-child{
                background-color: rgb(239, 246, 255);
                border: 1px solid rgb(219, 234, 254);
                border-radius: 15px;
                svg{
                    color: rgb(21, 93, 252);
                }
                h3{
                    color: rgb(21, 93, 252);
                }
            }
        }
        .quick-procedures-title{
            color: var(--main-text-color);
            font-weight: 600;
            font-size: 15px;
        }
        .quick-procedures{
            display: flex;
            flex-direction: column;
            gap: 35px;
            a{
                display: flex;
                column-gap: 15px;
                align-items: center;
                text-decoration: none;
                color: var(--main-text-color);
                transition: 0.25s;
                .logo-box{
                    border-radius: 8px;
                    padding: 8px 12px;
                    svg{
                        width: 15px;
                    }
                }
                &:hover{
                    transform: translate(2px, 0);
                }
            }
            a:first-child{
                .logo-box{
                    background-color: rgb(219, 232, 252);
                    svg{
                        color: rgb(21, 93, 252);
                    }                
                }
                &:hover{
                    .logo-box{
                        background-color: rgb(215, 215, 252);
                    }
                    h5{
                        color: rgb(85, 85, 85);
                    }
    
                }
            }
            a:nth-child(2){
                .logo-box{
                    background-color: rgb(212, 243, 225);
                    svg{
                        color: rgb(0, 166, 62);
                    }                
                }
                    &:hover{
                    .logo-box{
                        background-color: rgb(200, 243, 200);
                    }
                    h5{
                        color: rgb(85, 85, 85);
                    }
    
                }
            }
            a:nth-child(3){
                .logo-box{
                    background-color: rgb(239, 224, 252);
                    svg{
                        color: rgb(152, 16, 250);
                    }                
                }
                            &:hover{
                    .logo-box{
                        background-color: rgb(230, 201, 255);
                    }
                    h5{
                        color: rgb(85, 85, 85);
                    }
    
                }
            }
            a:nth-child(4){
                .logo-box{
                    background-color: rgb(251, 228, 212);
                    svg{
                        color: rgb(245, 73, 0);
                    }                
                }
                            &:hover{
                    .logo-box{
                        background-color: rgb(255, 194, 151);
                    }
                    h5{
                        color: rgb(85, 85, 85);
                    }
    
                }
            }
        }
    }
    nav{
        grid-column: 1/13;
        grid-row: 1/2;
        margin: 25px 0 25px 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 25px;
        border: 2px solid rgba(229, 231, 235, 0.8);
        border-radius: 15px;
        .part1{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 25px;
            .main{
                display: flex;
                gap: 15px;
                .logo{
                    background-color: rgb(55, 69, 232);
                    width: fit-content;
                    height: fit-content;
                    padding: 15px;
                    border-radius: 15px;
                    svg{
                        color: white;
                        width: 25px;
                    }
                }
                .text-box{
                    .name-title{
                        font-size: 34px;
                    }
                    .description{
                        font-size: 13px;
                        color: rgb(90, 90, 90);
                    }
                }
            }
            .connected-box{
                background-color: var(--light-green);
                color: var(--dark-green);
                padding: 5px;
                border: lightgreen 1px solid;
                border-radius: 5px;
            }
        }
        .part2{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            .small-boxes{
                padding: 6px 8px;
                border: 2px solid rgba(229, 231, 235, 0.8);
                border-radius: 5px;
                svg{
                    width: 15px;
                    color: var(--main-text-color);
                }
            }
            .notification-box{
                position: relative;
                .notification-num{
                    position: absolute; right: -7px; top: -7px;
                    background-color: red;
                    padding: 1px 6px;
                    border-radius: 50%;
                    color: aliceblue;
                    font-size: 12px;
                }
            }
            .user-box{
                display: flex;
                padding: 10px;
                border: 2px solid rgba(229, 231, 235, 0.8);
                border-radius: 15px;
                align-items: center;
                gap: 15px;
                .text-box{
                    h5{
                        font-weight: 500;
                        font-size: 16px;
                    }
                    p{
                        font-size: 12px;
                    }
                }
                img{
                    width: 40px;
                    border-radius: 15px;
                }
            }
        }
    }
    section{
        grid-column: 1/13;
        grid-row: 2/13;
        width: 100%;
        height: 100%;
        padding-left: 25px;
        display: grid;
        grid-template-columns: repeat(12, auto);
        grid-template-rows: repeat(12, auto);
        gap: 20px;
        .status-box{
            display: flex;
            gap: 20px;
            grid-column: 1/13;
            grid-row: 1/2;
            div{
                border: 2px solid rgba(229, 231, 235, 0.8);
                border-radius: 20px;
                width: calc(100% / 3);
                padding: 40px;
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
            div:first-child{
                p:last-child{
                    color: green;
                    font-weight: 500;
                }
            }
            div:nth-child(2){
                p:last-child{
                    color: green;
                    font-weight: 500;
                }
            }
            div:last-child{
                p:last-child{
                    color: red;
                    font-weight: 500;
                }
            }
        }
        .newest-activities{
            grid-row: 2/4;
            grid-column: 1/3;
            padding: 25px;
            border: var(--main-border);
            border-radius: var(--main-border-radius);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            row-gap: 15px;
            h3{
                font-weight: 500;
                align-self: flex-start;
                margin-bottom: 15px;
            }
            .activity{
                display: flex;
                background-color: lightgray;
                justify-content: flex-start;
                width: 100%;
                padding: 10px;
                column-gap:15px ;
                border-radius: 15px;
                border-left: 4px solid gray;
                .logo-box{
                    background-color: gray;
                    width: fit-content;
                    height: fit-content;
                    padding: 7px;
                    border-radius: 50%;
                    svg{
                        width: 16px;
                        color: darkgray;
                    }
                }
                .text-box{
                    display: flex;
                    flex-direction: column;
                    row-gap: 5px;
                    padding: 0;
                    border: none;
                    width: 100%;
                    p:nth-child(2){
                        font-size: 14px;
                    }
                    p:last-child{
                        font-size: 12px;
                        margin-top: 10px;
                    }
                }
                p{
                    font-size: 12px;
                }
            }
            .activity:nth-child(2){
                background-color: rgb(231, 246, 255);
                border-left: var(--dark-blue) 4px solid;
                .logo-box{
                    background-color: var(--light-blue);
                    svg{
                        color: var(--dark-blue);
                    }
                }

            }
            .activity:nth-child(3){
                background-color: rgb(233, 255, 233);
                border-left: var(--dark-green) 4px solid;
                .logo-box{
                    background-color: var(--light-green);
                    svg{
                        color: var(--dark-green);
                    }
                }

            }
            a{
                text-decoration: none;
                color: var(--dark-blue);
                margin-top: 15px;
            }
        }
        .last-transaction{
            grid-row: 2/6;
            grid-column: 3/13;
            display: flex;
            flex-direction: column;
            row-gap: 36px;
            border: var(--main-border);
            border-radius: var(--main-border-radius);
            padding: 25px;
            div{
                font-size: 12px;
            }
            .title-link{
                display: flex;
                justify-content: space-between;
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 14px;
                }
            }
            .rows{
                display: flex;
                justify-content: space-between;
                margin-left: 100px;
            }
            .titles{
                display: flex;
                justify-content: space-between;
                p:first-child{
                    min-width: 100px;
                }
                p:nth-child(2){
                    width: 80px;
                }
            }
            .transaction-rows{
                .to-whom{
                    min-width: 140px;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    column-gap: 5px;
                    .img-box{
                        width: 40px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        img{
                            width: 100%;
                            border-radius: 50%;
                        }
                        svg{
                            width: 40%;
                        }
                    }
                    .text-box{
                        width: 80%;
                        p:first-child{
                            font-weight: 500;
                        }
                        p:last-child{
                            font-size: 12px;
                        }
                    }
                }
                .type{
                    min-width: 90px;
                    .box{
                        background-color: lightgray;
                        width: fit-content;
                        padding: 5px 10px;
                        border-radius: 15px;
                        svg{
                            width: 11px;
                        }
                    }
                }
                .date{
                    min-width: 100px;
                }
                .status{
                    background-color: var(--light-green);
                    color: var(--dark-green);
                    min-width: 45px;
                    height: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 15px;
                }
                .amount{
                    font-weight: 700;
                    font-size: 12px;
                }
            }
            .transaction-rows:nth-child(3){
                .type{
                    .box{
                        background-color: var(--light-green);
                        color: var(--dark-green);
                    }
                }
                .amount{
                    color: var(--dark-green);
                }
            }
            .transaction-rows:nth-child(4){
                .to-whom{
                    .img-box{
                        background-color: var(--light-orange);
                        svg{
                            color: var(--dark-orange);
                        }
                    }
                }
                .type{
                    .box{
                        background-color: var(--light-orange);
                        color: var(--dark-orange);
                    }
                }
            }
            .transaction-rows:nth-child(5){
                .to-whom{
                    .img-box{
                        background-color: var(--light-blue);
                        svg{
                            color: var(--dark-blue);
                        }
                    }
                }
                .type{
                    .box{
                        background-color: var(--light-blue);
                        color: var(--dark-blue);
                    }
                }
            }
            .transaction-rows:nth-child(6){
                .type{
                    .box{
                        background-color: var(--light-blueviolet);
                        color: var(--dark-blueviolet);
                    }
                }
            }
            .transaction-rows:nth-child(7){
                .type{
                    .box{
                        background-color: var(--light-green);
                        color: var(--dark-green);
                    }
                }
                .amount{
                    color: var(--dark-green);
                }
            }
            .transaction-rows:nth-child(8){
                .to-whom{
                    .img-box{
                        background-color: rgb(255, 197, 197);
                        svg{
                            color: red;
                        }
                    }
                }
                .type{
                    .box{
                        background-color: rgb(255, 210, 210);
                        color: red;
                    }
                }
                .status{
                    background-color: rgb(255, 255, 120);
                    color: rgb(126, 126, 0);
                }
            }
            .transaction-rows:nth-child(9){
                .to-whom{
                    .img-box{
                        background-color: var(--light-blueviolet);
                        svg{
                            color: var(--dark-blueviolet);
                        }
                    }
                }
                .type{
                    .box{
                        background-color: var(--light-blue);
                        color: var(--dark-blue);
                    }
                }
            }
            .transaction-rows:nth-child(10){
                .to-whom{
                    .img-box{
                        background-color: lightcyan;
                        svg{
                            color: darkcyan;
                        }
                    }
                }
                .type{
                    .box{
                        background-color: lightcyan;
                        color: darkcyan;
                    }
                }
            }
            .transaction-rows:nth-child(11){
                .to-whom{
                    .img-box{
                        background-color: var(--light-green);
                        svg{
                            color: var(--dark-green);
                        }
                    }
                }
                .type{
                    .box{
                        background-color: var(--light-green);
                        color: var(--dark-green);
                    }
                }
            }
        }
        .monthly-receipts{
            grid-row: 4/6;
            grid-column: 1/3;
            border: var(--main-border);
            border-radius: var(--main-border-radius);
            padding: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 25px;
            .title-link{
                display: flex;
                justify-content: space-between;
                width: 100%;
                a{
                    text-decoration: none;
                    color: black;
                }
            }
            .second-title-box{
                display: flex;
                flex-direction: column;
                align-items: center;
                h1{
                    font-size: 28px;
                }
                p{
                    font-size: 12px;
                }
            }
            .spending-types{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                gap: 25px;
                .type-box{
                    width: calc((100% - 25px) / 2);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    row-gap: 2px;
                    .logo-box{
                        background-color: gray;
                        padding: 8px;
                        border-radius: 8px;
                        svg{
                            width: 18px;
                        }
                    }
                    p{
                        font-size: 12px;
                    }
                }
                .type-box:first-child{
                    .logo-box{
                        background-color: var(--light-blue);
                        svg{
                            color: var(--dark-blue);
                        }
                    }
                    p:last-child{
                        color: red;
                    }
                }
                .type-box:nth-child(2){
                    .logo-box{
                        background-color: rgb(255, 255, 190);
                        svg{
                            color: rgb(158, 158, 0);
                        }
                    }
                    p:last-child{
                        color: red;
                    }
                }
                .type-box:nth-child(3){
                    .logo-box{
                        background-color: var(--light-green);
                        svg{
                            color: var(--dark-green);
                        }
                    }
                    p:last-child{
                        color: var(--dark-green);
                    }
                }
                .type-box:nth-child(4){
                    .logo-box{
                        background-color: rgb(255, 224, 224);
                        svg{
                            color: red;
                        }
                    }
                }
            }
        }
        .budget-overview{
            grid-row: 6/13;
            grid-column: 1/3;
            border: var(--main-border);
            border-radius: var(--main-border-radius);
            padding: 25px;
            display: flex;
            flex-direction: column;
            gap: 25px;
            .title-link{
                display: flex;
                justify-content: space-between;
                width: 100%;
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 16px;
                }
            }
            .total-budget{
                background-color: rgb(238, 244, 255);
                border-radius: var(--main-border-radius);
                padding: 15px;
                display: flex;
                flex-direction: column;
                row-gap: 5px;
                .titles{
                    display: flex;
                    justify-content: space-between;
                    p:last-child{
                        margin-left: 20px;
                    }
                }
                .values{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 25px;
                }
                .bar-titles{
                    display: flex;
                    justify-content: space-between;
                    p{
                        font-size: 12px;
                    }
                }
                .bar-parent{
                    background-color: lightgray;
                    width: 100%;
                    height: 6px;
                    border-radius: 45px;
                    div{
                        height: 100%;
                        width: 82.5%;
                        background-color: var(--dark-blue);
                    }
                }
            }
            .budget-boxes{
                border: var(--main-border);
                border-radius: var(--main-border-radius);
                padding: 15px;
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                .text-nums{
                    display: flex;
                    justify-content: space-between;
                    .part1{
                        display: flex;
                        align-items: center;
                        column-gap: 10px;
                        .logo-box{
                            background-color: lightgray;
                            padding: 8px;
                            border-radius: 5px;
                        }
                        .text-box{
                            p{
                                font-size: 12px;
                            }
                        }
                    }
                    .part2{
                        display: flex;
                        flex-direction: column;
                        row-gap: 5px;
                        p{
                            font-size: 12px;
                        }
                    }
                }
                .bar-parent{
                    background-color: lightgray;
                    width: 100%;
                    height: 6px;
                    border-radius: 45px;
                    div{
                        height: 100%;
                        width: 50%;
                        background-color: black;
                    }
                }
            }
            .budget-boxes:nth-child(3){
                .text-nums{
                    .part1{
                        .logo-box{
                            background-color: var(--light-orange);
                            svg{
                                color: var(--dark-orange);
                            }
                        }
                    }
                    .part2{
                        p{
                            background-color: var(--light-green);
                            color: var(--dark-green);
                            border-radius: var(--main-border-radius);
                            padding: 5px;

                        }
                    }
                }
                .bar-parent{
                    div{
                        background-color: var(--dark-orange);
                    }
                }
            }
            .budget-boxes:nth-child(4){
                .text-nums{
                    .part1{
                        .logo-box{
                            background-color: rgb(255, 194, 194);
                            svg{
                                color: red;
                            }
                        }
                    }
                    .part2{
                        p{
                            background-color: rgb(255, 219, 219);
                            color: rgb(116, 0, 0);
                            border-radius: var(--main-border-radius);
                            padding: 5px;

                        }
                    }
                }
                .bar-parent{
                    div{
                        background-color: red;
                        width: 100%;
                    }
                }
            }
            .budget-boxes:nth-child(5){
                .text-nums{
                    .part1{
                        .logo-box{
                            background-color: rgb(252, 231, 243);
                            svg{
                                color: rgb(230, 0, 118);
                            }
                        }
                    }
                    .part2{
                        p{
                            background-color: lightyellow;
                            color: rgb(102, 102, 36);
                            border-radius: var(--main-border-radius);
                            padding: 5px;

                        }
                    }
                }
                .bar-parent{
                    div{
                        background-color: rgb(246, 51, 154);
                        width: 80%;
                    }
                }
            }
            .budget-boxes:nth-child(6){
                .text-nums{
                    .part1{
                        .logo-box{
                            background-color: var(--light-green);
                            svg{
                                color: var(--dark-green);
                            }
                        }
                    }
                    .part2{
                        p{
                            background-color: var(--light-green);
                            color: var(--dark-green);
                            border-radius: var(--main-border-radius);
                            padding: 5px;

                        }
                    }
                }
                .bar-parent{
                    div{
                        background-color: var(--dark-green);
                        width: 86%;
                    }
                }
            }
        }
        .comparing-box{
            grid-column: 3/6;
            grid-row: 6/9;
            border: var(--main-border);
            border-radius: var(--main-border-radius);
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 35px;
            padding: 25px;
            .title-link{
                display: flex;
                justify-content: space-between;
                width: 100%;
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 16px;
                }
            }
            .clarification{
                display: flex;
                align-items: center;
                gap: 15px;
                margin-bottom: 25px;
                div{
                    width: 14px;
                    height: 14px;
                }
                div:first-child{
                    background-color: rgb(64, 199, 154);
                }
                div:nth-child(3){
                    background-color: red;
                }
                p{
                    font-size: 15px;
                }
            }
            .bars-weeks{
                display: flex;
                gap: 45px;
                .weeks{
                    .bars{
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    column-gap: 3px;
                    div{
                        width: 14px;
                        height: 100px;
                    }
                    div:first-child{
                        background-color: rgb(64, 199, 154);
                    }
                    div:last-child{
                        background-color: red;
                    }
                }
                p{
                    font-size: 14px;
                }
                }
                .weeks:first-child{
                    .bars{
                    div:last-child{
                        height: 40px;
                    }   
                    }
                }
                .weeks:nth-child(2){
                    .bars{
                    div:last-child{
                        height: 45px;
                    }   
                    }
                }
                .weeks:nth-child(3){
                    .bars{
                    div:last-child{
                        height: 55px;
                    }   
                    }
                }
                .weeks:last-child{
                    .bars{
                    div:last-child{
                        height: 35px;
                    }   
                    }
                }
            }
        }
        .summary{
            grid-column: 3/6;
            grid-row: 9/13;
            padding: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: var(--main-border);
            border-radius: var(--main-border-radius);
            gap: 45px;
            .title-link{
                display: flex;
                justify-content: space-between;
                width: 100%;
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 16px;
                }
            }
            .account-type{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 90%;
                .account-container{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    .logo-box{
                        background-color: gray;
                        border-radius: 5px;
                        padding: 8px;
                    }
                    .text-box{
                        p{
                            font-size: 12px;
                        }
                    }
                }
                .amount{
                    font-weight: 500;
                }
            }
            .account-type:nth-child(2){
                .account-container{
                    .logo-box{
                        background-color: var(--light-blue);
                        svg{
                            color: var(--dark-blue);
                        }
                    }
                }
            }
            .account-type:nth-child(3){
                .account-container{
                    .logo-box{
                        background-color: var(--light-green);
                        svg{
                            color: var(--dark-green);
                        }
                    }
                }
            }
            .account-type:nth-child(4){
                .account-container{
                    .logo-box{
                        background-color: var(--light-blueviolet);
                        svg{
                            color: var(--dark-blueviolet);
                        }
                    }
                }
            }
        }
        .payment-methods{
            grid-column: 6/13;
            grid-row: 6/13;
            padding: 25px;
            border: var(--main-border);
            border-radius: var(--main-border-radius);
            display: flex;
            flex-direction: column;
            gap: 25px;
            .title-link{
                display: flex;
                justify-content: space-between;
                width: 100%;
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 16px;
                }
            }
            .container{
                height: 200px;
                width: 100%;
                perspective: 600px;
                .card{
                    width: 100%;
                    height: 100%;
                    transition: 0.5s;
                    transform-style: preserve-3d;
                    position: relative;
                    .face{
                        backface-visibility: hidden;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        padding: 25px;
                        border-radius: var(--main-border-radius);
                    }
                    .front-face{
                        background-color: blue;
                        color: white;
                        display: flex;
                        flex-direction: column;
                        row-gap: 20px;
                        .logos{
                            display: flex;
                            justify-content: space-between;
                            div:first-child{
                                background-color: rgba(255, 255, 255, 0.3);
                                width: 50px;
                                height: 30px;
                                border-radius: 6px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                div{
                                    background-color: rgba(255, 255, 255, 0.5);
                                    width: 60%;
                                    height: 60%;
                                    border-radius: 6px;
                                }
                            }
                            div:last-child{
                                svg{
                                    width: 30px;
                                }
                            }
                        }
                        .fourteen-nums{
                            font-size: 22px;
                            font-weight: 500;
                        }
                        .card-info{
                            display: flex;
                            justify-content: space-between;
                            font-size: 13px;
                            .card-expiry{
                                p:last-child{
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                    .back-face{
                        background-color: rgb(11, 18, 33);
                        color: white;
                        transform: rotateY(180deg);
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        .black-box{
                            background: linear-gradient(to right, rgb(6, 6, 6), rgb(42, 42, 42));
                            width: 100%;
                            height: 35px;
                        }
                        p{
                            font-size: 10px;
                        }
                        .white-box{
                            background-color: white;
                            width: 100%;
                            height: 25px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .inner-box{
                                background: linear-gradient(to left, rgb(207, 207, 207), rgb(255, 255, 255));
                                width: 80%;
                                height: 50%;
                            }
                            p{
                                color: black;
                                font-size: 12px;
                                font-weight: 700;
                                margin-left: 25px;
                            }
                        }
                        p:nth-child(4){
                            align-self: flex-end;
                            font-size: 15px;
                            margin-left: 25px;
                        }
                        .three-nums-box{
                            background-color: white;
                            color: black;
                            width: fit-content;
                            height: fit-content;
                            align-self: flex-end;
                            font-size: 14px;
                            font-weight: 700;
                            padding: 8px 15px;
                            border-radius: 8px;
                        }
                    }
                }
                &:hover .card{
                    transform: rotateY(180deg);
                }
            }
            .container:nth-child(3){
                .card{
                    .front-face{
                        background-color: rgb(143, 25, 31);
                    }
                }
            }
            .container:nth-child(4){
                .card{
                    .back-face{
                        p:nth-child(4){
                            margin-left: 50px;
                        }
                    }
                }
            }
        }
    }
}